@font-face {
    font-family: 'Varino';
    src: url('../fonts/VarinoNormal-Regular.woff') format('truetype');
}
@font-face {
    font-family: 'GlacialIndifference';
    src: url('../fonts/GlacialIndifference-Regular.woff') format('truetype');
}
h1 {
    font-family: 'Varino';
    font-size: 3em;
    color: #333;
}
sub {
    font-family: 'Varino';
    font-size: 0.5em;
    color: #333;
}
span {
    font-family: 'GlacialIndifference';
    color: #333;
    font-weight: bold;
}
#container_login{
    border: #333 2px solid;
    border-radius: 15px;
    padding: 2.5em;
    width: 70%;
}
input{
    font-family: 'GlacialIndifference' !important;
    font-size: 1em !important;
    border-radius: 30px !important;
    padding: 1em !important;
}
label{
    font-family: 'GlacialIndifference';
    font-size: 2em;
    color: #333;
}
.btn{
    font-family: 'GlacialIndifference';
    font-size: 1em;
    border-radius: 20px;
    padding: 1em;
    background-color: #333;
    color: #fff;
    width: 100%;
}
#contraseña{
    font-family: 'GlacialIndifference';
    font-weight: 600;
    font-size: 0.7em;
    text-decoration: none;
}
#registro{
    font-family: 'GlacialIndifference';
    font-weight: 600;
    font-size: 1em;
    text-decoration: none;
}