{% extends 'login.html' %} {% load static %} {% block title %}Cambio contraseña{% endblock%}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/registro.css' %}" />
{% endblock %}
{% block content %}
<div class="row p-2 align-items-center">
    <div class="col-12 d-flex justify-content-start">
        <a href="inicioSesion" style="text-decoration: none">
            <h1 id="titulo">HARMONÍA<sub>digital</sub></h1>
        </a>
    </div>

    <div class="container">
        {% if error %}
        <div class="alert alert-danger alert-dismissible fade show mt-4" role="alert">
            {% for err in error %}
            <p>{{ err }}</p>
            {% endfor %}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endif %}
        <div class="row mt-2">
            <div class="col-12 d-flex justify-content-center p-2">
                <h1>CAMBIA TU CONTRASEÑA</h1>
            </div>
        </div>
        <div class="row d-flex justify-content-center mt-3">
            <div class="col-12 d-flex justify-content-center">
                <span>Rellene todos los campos</span>
            </div>
            <div id="container_login" class="col-lg-4 col d-inline-block">
                <form action="" method="post">
                    {% csrf_token %}
                    <div class="row">
                        <div class="mb-3">
                            <label for="usuario" class="form-label">Usuario</label>
                            <input type="text" class="form-control" id="usuario" name="usuario"
                                placeholder="Usuario" required />
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label">Nueva contraseña</label>
                            <input type="password" class="form-control" id="password" name="nueva_contraseña"
                                placeholder="Contraseña" required />
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label">Repita la contraseña</label>
                            <input type="password" class="form-control" id="password-confirm" name="password-confirm"
                                placeholder="Repite la contraseña" required />
                        </div>
                        <div class="d-flex justify-content-center">
                            <button type="submit" class="btn" onclick="validateForm()">
                                Confirmar registro
                            </button>
                        </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}


{% block extra_js %}
<script src="{% static 'js/registro.js' %}"></script>
{% endblock %}